@model IEnumerable<LootInjection.WebApp.MVC.ViewModels.ContaViewModel>

@{
    ViewData["Title"] = "Minhas Contas";
}

<h2 style="padding-top: 2%">@ViewData["Title"]</h2>
<hr />

<div id="ContasTarget">
    <partial name="_ListaContas" />
</div>

<p>
    <a class="btn btn-info" asp-action="Cadastrar" asp-route-clienteId="@("b3e83fce-7b4a-4537-89db-7aa00b6d1ff6")" data-modal="">Nova</a> @{ /*TODO: Pegar Id do Cliente logado */ }
</p>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}